@font-face {
  font-family: 'Guest Mono';
  src: url('./assets/fonts/Inter/static/Inter_24pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* Tailwind base imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family: 'Guest Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Guest Mono', monospace;
}